[submodule "modules/Prestige"]
	path = modules/Prestige
	url = https://gitlab.thecorehosting.net/root/Prestige.git

[submodule "modules/mod-1v1-arena"]
	path = modules/mod-1v1-arena
	url = https://gitlab.thecorehosting.net/root/mod-1v1-arena.git

[submodule "modules/mod-account-achievements"]
	path = modules/mod-account-achievements
	url = https://gitlab.thecorehosting.net/root/mod-account-achievements.git

[submodule "modules/mod-ah-bot-plus"]
	path = modules/mod-ah-bot-plus
	url = https://gitlab.thecorehosting.net/root/mod-ah-bot-plus.git

[submodule "modules/mod-ale"]
	path = modules/mod-ale
	url = https://gitlab.thecorehosting.net/root/mod-ale.git

[submodule "modules/mod-aoe-loot"]
	path = modules/mod-aoe-loot
	url = https://gitlab.thecorehosting.net/root/mod-aoe-loot.git

[submodule "modules/mod-arena-3v3-solo-queue"]
	path = modules/mod-arena-3v3-solo-queue
	url = https://gitlab.thecorehosting.net/root/mod-arena-3v3-solo-queue.git

[submodule "modules/mod-autobalance"]
	path = modules/mod-autobalance
	url = https://gitlab.thecorehosting.net/root/mod-autobalance.git

[submodule "modules/mod-breaking-news-override"]
	path = modules/mod-breaking-news-override
	url = https://gitlab.thecorehosting.net/root/mod-breaking-news-override.git

[submodule "modules/mod-challenge-modes"]
	path = modules/mod-challenge-modes
	url = https://gitlab.thecorehosting.net/root/mod-challenge-modes.git

[submodule "modules/mod-city-siege"]
	path = modules/mod-city-siege
	url = https://gitlab.thecorehosting.net/root/mod-city-siege.git

[submodule "modules/mod-game-state-api"]
	path = modules/mod-game-state-api
	url = https://gitlab.thecorehosting.net/root/mod-game-state-api.git

[submodule "modules/mod-globalchat"]
	path = modules/mod-globalchat
	url = https://gitlab.thecorehosting.net/root/mod-globalchat.git

[submodule "modules/mod-goblin-bank"]
	path = modules/mod-goblin-bank
	url = https://gitlab.thecorehosting.net/root/mod-goblin-bank.git

[submodule "modules/mod-guild-village"]
	path = modules/mod-guild-village
	url = https://gitlab.thecorehosting.net/root/mod-guild-village.git

[submodule "modules/mod-guildhouse"]
	path = modules/mod-guildhouse
	url = https://gitlab.thecorehosting.net/root/mod-guildhouse.git

[submodule "modules/mod-individual-progression"]
	path = modules/mod-individual-progression
	url = https://gitlab.thecorehosting.net/root/mod-individual-progression.git

[submodule "modules/mod-instanced-worldbosses"]
	path = modules/mod-instanced-worldbosses
	url = https://gitlab.thecorehosting.net/root/mod-instanced-worldbosses.git

[submodule "modules/mod-mythic-plus"]
	path = modules/mod-mythic-plus
	url = https://gitlab.thecorehosting.net/root/mod-mythic-plus.git

[submodule "modules/mod-ollama-chat"]
	path = modules/mod-ollama-chat
	url = https://gitlab.thecorehosting.net/root/mod-ollama-chat.git

[submodule "modules/mod-playerbots"]
	path = modules/mod-playerbots
	url = https://gitlab.thecorehosting.net/root/mod-playerbot.git

[submodule "modules/mod-ptr-template"]
	path = modules/mod-ptr-template
	url = https://gitlab.thecorehosting.net/root/mod-ptr-template.git

[submodule "modules/mod-pvp-titles"]
	path = modules/mod-pvp-titles
	url = https://gitlab.thecorehosting.net/root/mod-pvp-titles.git

[submodule "modules/mod-transmog"]
	path = modules/mod-transmog
	url = https://gitlab.thecorehosting.net/root/mod-transmog.git

[submodule "modules/mod-adventure-board"]
	path = modules/mod-adventure-board
	url = https://gitlab.thecorehosting.net/root/mod-adventure-board.git
